<div>
  <link href="./navigation-links7.css" rel="stylesheet" />
  <nav class="navigation-links7-nav">
    <a
      href="https://schoolbookv1.bh96197664248.workers.dev/0:/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links7-link"
    >
      <span>المكتبة الكترونية</span>
    </a>
    <a
      href="https://www.facebook.com/groups/471897649664324/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links7-link1"
    >
      <span>حسابات المدرسة</span>
    </a>
    <a href="v1.html" class="navigation-links7-navlink">
      <span>للعرض باقي المدرسين</span>
    </a>
    <a
      href="https://the-towmilitarianimams.onrender.com/%D9%85%D8%AF%D8%B1%D8%B3%D8%A9-%D8%A7%D9%84%D8%A7%D9%85%D8%A7%D9%85%D9%8A%D9%86-%D8%A7%D9%84%D8%B9%D8%B3%D9%83%D8%B1%D9%8A%D9%8A%D9%86.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links7-link2"
    >
      <span>القائمة الرئيسية</span>
    </a>
  </nav>
</div>
