<div>
  <link href="./testimonial-card1151.css" rel="stylesheet" />
  <div class="testimonial-card1151-testimonial-card">
    <div class="testimonial-card1151-testimonial">
      <span class="testimonial-card1151-text"><span>Jane Doe</span></span>
      <span class="testimonial-card1151-text1">
        <span>SOFTWARE ENGINEER</span>
      </span>
      <img
        alt="profile"
        src="public/playground_assets/image_2023-04-15_16-59-56-200w.png"
        class="testimonial-card1151-image"
      />
    </div>
  </div>
</div>
