<div>
  <link href="./testimonial-card1.css" rel="stylesheet" />
  <div class="testimonial-card1-testimonial-card">
    <div class="testimonial-card1-testimonial">
      <span class="testimonial-card1-text"><span>Jane Doe</span></span>
      <span class="testimonial-card1-text1">
        <span>SOFTWARE ENGINEER</span>
      </span>
      <img
        alt="profile"
        src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
        class="testimonial-card1-image"
      />
    </div>
  </div>
</div>
