<div>
  <link href="./testimonial-card118.css" rel="stylesheet" />
  <div class="testimonial-card118-testimonial-card">
    <div class="testimonial-card118-testimonial">
      <span class="testimonial-card118-text"><span>Jane Doe</span></span>
      <span class="testimonial-card118-text1">
        <span>SOFTWARE ENGINEER</span>
      </span>
      <img
        alt="profile"
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&h=1200"
        class="testimonial-card118-image"
      />
    </div>
  </div>
</div>
